body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
  }

  code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container{
  display: flex;
  flex-direction:column;
  min-height: 100vh;
}

.content-wrap{
  flex: 1;
}

.img{
  width: 100%;
  height: 100%;
}

@media(min-width: 576px){
  .btn1{
    justify-content: flex-end;
  }


}

.col-hero{
  height: 10em;
  
}

.img-background{
  background-image: url('/assets/img/fondo-marvel3.jpg');
}

/* slider DC */

.img-carousel-1 img{
  width: 75%;

}
.img-carousel-2 img{
  width: 100%;

}
.img-carousel-3 img{
  width: 100%;

}

@media(min-width: 770px){
 .img-carousel-1 img{
  width: 45%;

}
.img-carousel-2 img{
  width: 60%;

}
.img-carousel-3 img{
  width: 60%;

}

}
/* slider DC */



/* slider Avenger */
.img-carousel-Av-1 img{
  width: 83%;

}
.img-carousel-Av-2 img{
  width: 83%;

}
.img-carousel-Av-3 img{
  width: 83%;

}

@media(min-width: 770px){
.img-carousel-Av-1 img{
  width: 60%;

}
.img-carousel-Av-2 img{
  width: 60%;

}
.img-carousel-Av-3 img{
  width: 60%;

}

}
/* slider Avenger */

.searchImg{
  background-image: url('./assets/img/JusticeLeague-Backgrounds2.jpg');
}

